.reset-password-container {
	height: calc(100vh - 124px);

	/* width: 100%; */
	display: flex;
	align-items: center;
	justify-content: center;
	/* text-align: center; */
}
.reset-password-container form {
	width: 50%;
}

.btn-flex-container {
	display: flex;
	justify-content: center;
}

.spinner {
	height: 20px;
}
