.login-contents {
	/* margin-top: 60px; */
	height: calc(100vh - 124px);
	overflow: hidden;
	background-color: #ebebeb;
	/* position: relative; */
	/* display: table */
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-contents form {
	/* width: 50%; */
}
.login-contents form label {
	font-size: 20px;
	pad: 10px;
	margin-bottom: 16px;
}
.login-contents form input[type='email'],
.login-contents form input[type='password'] {
	margin-bottom: 16px;
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
}
.login-contents form input[type='submit'] {
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	padding: 10px 26px;
	margin-top: 16px;
	margin-bottom: 16px;
	letter-spacing: 0.5px;
	color: #fff;
	background-color: rgb(56, 60, 65);
}

.login-content-mis {
	text-align: right;
}

.login-content-mis span {
	text-transform: capitalize;
	font-size: 12px;
	margin-left: 16px;
}
